<div class="container pt-5 text-center">
  <mat-toolbar color="primary">
    Angular material, una prueba nomás...
  </mat-toolbar>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Ejemplo componente "Card"</mat-card-title>
      <mat-card-subtitle>Aqui va el subtitulo</mat-card-subtitle>
    </mat-card-header>

    <mat-form-field>
      <input type="text" matInput placeholder="T&iacute;tulo" #titulo>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Id del album" #albumId>
        <mat-option *ngFor='let id of elAlbumId' value="id">
          {{id}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="URL" #url>
    </mat-form-field>

    <button mat-raised-button color='primary' (click)='cartelDelBoton()' style='display: block; width: 100%'>
      Guardar
    </button>
  <app-fotos></app-fotos>
  </mat-card>
  <!-- <br>
  <button mat-raised-button color='accent' (click)='cartelDelBoton()'>
    Un botón mat-raised-button, color: accent
  </button>&nbsp;
  <button mat-raised-button color='warn' (click)='cartelDelBoton()'>
    Un botón mat-raised-button, color: warn
  </button> -->

</div>

<router-outlet></router-outlet>